<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307237015335-6ef4mgp3gu0sjt0d3qiar95schjd9k4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307237015335-6ef4mgp3gu0sjt0d3qiar95schjd9k4g</string>
	<key>API_KEY</key>
	<string>AIzaSyCaJYXaFr9d1m5dx0Ch1jBFJnaWmrrSO-I</string>
	<key>GCM_SENDER_ID</key>
	<string>307237015335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.denning</string>
	<key>PROJECT_ID</key>
	<string>project-denning</string>
	<key>STORAGE_BUCKET</key>
	<string>project-denning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307237015335:ios:75fcd134854a10419fa302</string>
</dict>
</plist>